@font-face {
  font-family: "ArialCustom";
  src: url("./Font/Arial/ArialRegular/ArialRegular.ttf") format("truetype");
}

@font-face {
  font-family: "ArialCustom";
  src: url("./Font/Arial/ArialBlack/ArialBlack.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  flex: 0 0 auto;
  margin-left: 40px;
}

.logo img {
  max-height: 40px;
  width: auto;
}

.main-nav {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main-nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  display: block;
  padding: 4px;
}

.main-nav-button {
  flex: 0 0 auto;
  margin-right: 40px;
}

.main-nav-button ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.button {
  border-radius: 12px;
  background: #d2d2d2;
  padding: 8px;
  display: inline-flex;
  align-items: center;
}

.button a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
}

.button a.big-font {
  font-size: 14px;
  text-transform: uppercase;
}

.hero-section {
  /* 01*/
  margin: 0;
  height: auto;
  min-height: 100vh;
}

.banner {
  /* 01*/
  background-image: url("./Images/baner.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  margin-top: -95px;
  padding-top: 598px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.scroll-icon {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 56px;
  height: 56px;
  opacity: 0.8;
}

.hero-buble {
  background: rgba(0, 0, 0, 0.8);
  color: #000;
  width: 580px;
  height: 184px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 24px 24px 20px 24px;
}

.information {
  display: flex;
  width: 100%;
  height: 100%;
}

.information-a {
  color: #fff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  text-align: center;
  flex-shrink: 0;
}

.information-b {
  color: #fff;
  margin-top: 30px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-wrap {
  height: 2929px;
  flex-shrink: 0;
  width: 100%;
}

.con-box {
  display: flex;
  width: 1369px;
  margin-top: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid black;
  padding-bottom: 56px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  text-align: center;
  flex-shrink: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.img-01 {
  display: flex;
  width: 672px;
  height: 376px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 32px;
  margin-bottom: 32px;
}

.info-img {
  display: flex;
  width: 672px;
  flex-direction: column;
}

.info-img-tt {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  text-align: center;
  flex-shrink: 0;
}

.info-img-tx {
  margin-top: 30px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.cards {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}

.card-0 {
  display: flex;
  flex-direction: column;
}

.cards-img-1 {
  display: flex;
  margin-bottom: 16px;
  width: 336px;
}

.card-info {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  text-transform: capitalize;
  max-width: 336px;
}

.card-info h4 {
  font-size: 16px;
  font-weight: normal;
}
.card-info p {
  font-size: 14px;
}

.cards-img-2 {
  display: flex;
  margin-bottom: 24px;
  width: 440px;
}

.card-info-tt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
  text-transform: capitalize;
  max-width: 440px;
}

.card-info-tt h4 {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: normal;
}

.card-info-tt p {
  font-size: 14px;
  text-align: left;
  align-self: flex-start;
}

.card-info-tx {
  font-size: 14px;
  text-transform: capitalize;
  max-width: 440px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.notice-list {
  width: 100%;
  margin-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid #000;
  font-size: 16px;
}

.notice-list li {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.notice-list a {
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
}

.notice-list p {
  color: #000;
  text-align: right;
  white-space: nowrap;
}
